# vCenter
vsphere_server                          = "vc.corp.local"
vsphere_user                            = "administrator@vsphere.local"
vsphere_password                        = "password123"
vsphere_datacenter                      = "datacenter"

# Networking
external_network                        = "external_net"
external_network_ipv4_gateway           = "192.168.1.1"
external_network_ipv4_netmask           = 24
internal_network                        = "internal_net"
internal_network_ipv4_gateway           = "192.168.2.1"
internal_network_ipv4_netmask           = 24
dns_domain                              = "corp.local"
dns_suffix_list                         = ["corp.local"]
dns_servers                             = ["192.168.1.10"]

# VM Template
vm_template_name                        = "confluent-kafka-template"

# Resource Pool
vsphere_resource_pool                   = "Confluent"

# Kafka Brokers
kafka_broker_cpu                        = 4
kafka_broker_ram                        = 65536
kafka_broker_os_dir_size_gb             = 100
kafka_broker_data_dir_size_gb           = 512

# Kafka Zookeepers
zookeeper_cpu                           = 2
zookeeper_ram                           = 16384
zookeeper_os_dir_size_gb                = 100
zookeeper_data_dir_size_gb              = 128

# Kafka Connect
kafka_connect_cpu                       = 2
kafka_connect_ram                       = 8192
kafka_connect_os_dir_size_gb            = 100

# Control Center
control_center_cpu                      = 8
control_center_ram                      = 65536
control_center_os_dir_size_gb           = 100

# Cluster 1
vsphere_cluster_1                       = "cl01"
vsphere_cluster_1_dvs                   = "cl01-vds01"
vsphere_cluster_1_datastore             = "cl01-vsan01"
vsphere_cluster_1_hosts                 = ["esxi01.corp.local", "esxi02.corp.local", "esxi03.corp.local", "esxi04.corp.local"]
cluster_1_kafka_broker_count            = 4
cluster_1_kafka_broker_external_ips     = ["192.168.1.101", "192.168.1.102", "192.168.1.103", "192.168.1.104"]
cluster_1_kafka_broker_internal_ips     = ["192.168.2.101", "192.168.2.102", "192.168.2.103", "192.168.2.104"]
cluster_1_zookeeper_count               = 3
cluster_1_zookeeper_ips                 = ["192.168.1.111", "192.168.1.112", "192.168.1.113"]
cluster_1_kafka_connect_count           = 2
cluster_1_kafka_connect_ips             = ["192.168.1.114", "192.168.1.115"]
cluster_1_control_center_ip             = "192.168.1.116"

