#
# vCenter Server Configuration
#
vcenter_server = "vc.lab.local"
vcenter_user = "administrator@vsphere.local"
vcenter_password = "password123!"
vcenter_insecure_ssl = true

#
# vSphere Configuration
#
vsphere_clusters = [
  {
    # See variables.tf for the description of the variable
    vs_dc                                = "datacenter"
    vs_cls                               = "cluster01"
    vs_rp                                = "kafka"
    vs_dvs                               = "vds"
    vs_dvs_pg_public                     = "pg-public"
    vs_dvs_pg_public_ipv4_subnet         = "10.0.0.0/24"
    vs_dvs_pg_public_ipv4_start_hostnum  = "100"
    vs_dvs_pg_public_ipv4_gw             = "172.16.0.0/24"
    vs_dvs_pg_private                    = "pg-private"
    vs_dvs_pg_private_ipv4_subnet        = "10.0.0.0/24"
    vs_dvs_pg_private_ipv4_start_hostnum = "100"
    vs_ds                                = "vsan01"
    vs_ds_sp                             = "vSAN Default Storage Policy"
    vs_vm_template                       = "centos8.2_x64"
    vs_vm_template_boot                  = "efi"
    vs_vm_domain                         = "wld01.lab.local"
    vs_vm_dns                            = ["10.0.0.10", "10.0.0.11"]
    vs_vm_dns_suffix                     = ["wld01.lab.local", "lab.local"]
  }
]

kafka_broker_count_per_cluster = 4
kafka_zookeeper_count_per_cluster = 3
kafka_connect_count_per_cluster = 3

variable kafka_vm_prefix = "kafka"

kafka_broker {
    cpu = 16
    memory_gb = 64
    os_disk_gb = 100
    data_disk_count = 2
    data_disk_gb = 250
}

kafka_zookeeper {
    cpu = 4
    memory_gb = 8
    os_disk_gb = 100
    data_disk_count = 1
    data_disk_gb = 100
}

kafka_connect {
    cpu = 8
    memory_gb = 8
    os_disk_gb = 100
}

kafka_control_center {
    cpu = 8
    memory_gb = 16
    os_disk_gb = 100
    data_disk_gb = 100
}