#!/bin/bash
#
# Kafka Producer Test
#
echo "Producer Test"                            |& tee -a {{ logfile }}
echo ""                                         |& tee -a {{ logfile }}
echo "Test Parameters"                          |& tee -a {{ logfile }}
echo "topic:            {{ topic }}"            |& tee -a {{ logfile }}
echo "bootstrap:        {{ bootstrap }}"        |& tee -a {{ logfile }}
echo "properties:"                              |& tee -a {{ logfile }}
echo "acks:             {{ acks }}"             |& tee -a {{ logfile }}
echo "buffer.memory:    {{ buffer_memory }}"    |& tee -a {{ logfile }}
echo "batch.size:       {{ batch_size }}"       |& tee -a {{ logfile }}
echo "compression:      {{ compression }}"      |& tee -a {{ logfile }}
echo "client.id:        {{ client_id }}"        |& tee -a {{ logfile }}
echo ""                                         |& tee -a {{ logfile }}
echo "Starting Producer: `date`"                |& tee -a {{ logfile }}
echo ""                                         |& tee -a {{ logfile }}

kafka-producer-perf-test \
 --topic {{ topic }} \
 --record-size {{ record_size }} \
 --throughput {{ throughput }} \
 --num-records {{ num_records}} \
 --producer-props \
  bootstrap.servers={{ bootstrap }} \
  acks={{ acks }} \
  buffer.memory={{ buffer_memory }} \
  batch.size={{ batch_size }} \
  compression.type={{ compression }} \
  client.id={{ client_id }}-producer            2>&1| tee -a producer_{{ client_id }}_{{ topic_name }}.csv

echo ""                                         |& tee -a {{ logfile }}
echo "Completed Producer: `date`"               |& tee -a {{ logfile }}
exit 0
